.tasks-table {
    border-collapse: collapse;
    width: 100%;
}

.tasks-table th, .tasks-table td {
    padding: 12px 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tasks-container {
    margin: 60px 20px 0px;
    padding: 60px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.task-row:hover {
    color: #646cff;
}

.details-container {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.details-container p {
    margin: 5px 0;
}